.emblem_style{
    color: white;
}
.login_error {
     background-color: red;
 }
 .container_table{
     height: 25vw;
     overflow: scroll;
}
.foter_style{
    background-color: darkolivegreen;
    bottom: 0;
    position: absolute;
    width:100%;
}
.table_head{
    background-color: darkolivegreen;
}

.poster{
    position:relative;
}
.descr{
   position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    background:rgba(255,255,255, 0.7);
    padding:5px;
    display:none;
}
.poster:hover .descr{
  display:block;

}
.trash_color_style:hover{
    color: red;
}
.color_ok_style:hover{
    background-color: greenyellow;
}
.color_ok_style_no:hover{
    background-color: red;
}
.pay_style_col:hover{
    background-color: greenyellow;
}