{% extends 'dinner/base.html' %}
{% block title %}Home{%endblock%}
{% block content %}
    <label>Твоє замовлення на:</label>
    <label style="color: darkolivegreen" id="dinnerDate">{{date}}</label>
<div class="container-fluid">
  <div class="row content">
         <div class="col-sm-12 sidenav">
             <ul class="nav nav-pills nav-stacked">
                 <table id="tableFoods" class="table table-bordered">
                     <thead>
                        <tr >
                          {%for category in menu%}
                            <th style="background-color: snow"><label>{{category.categoryName}}</label><span style="color:#CC3434">{{category.categoryPrice}} грн.</span></th>
                          {%endfor%}
                        </tr>
                     </thead>
                     <tbody>
                        <tr id="foodsInTable">
                           {%for category in menu%}
                            <td>
                                <div class="row content">
                                    <div class="col-sm-9" id="{{category.id}}"></div>
                                    <div class="col-sm-1 glyphicon glyphicon-trash trash_color_style" onclick="deleteFood('{{category.id}}')"></div>
                                </div>
                            </td>
                            {%endfor%}

                        </tr>
                     </tbody>
                 </table>
                     <button  id="customDinner_btn" name="customDinner_btn" type="submit" onclick="customDinner()" disabled="disabled" class="btn btn-success">Замовити обід</button>
                     <label id="price" style="text-align: center">0</label>
                    <label>грн</label>
                    <h2 style="color: darkolivegreen" id="confirmation"></h2>
             </ul><br>
         </div>
   </div>
</div>
<div style="margin-left: 1vw">
<div class="row">
    {%for m in menu%}
     <div class="col-sm-2">
         <h3 style="font-style: italic"><b>{{m.categoryName}}</b></h3>
         <hr>
             {%for i in foods%}
                {%if openDateFood == 6 or openDateFood == 7%}
                {%else%}
                     {%if i.foodCategory.id == m.id%}
                         {%if i.foodDay.foodDayNumber == openDateFood or i.foodDay.foodDayNumber == 8%}
                         <div style="color: blue" >{{i.foodName}}</div>
                         <div class="poster" ><img  src="{{i.foodImage}}" class="img-rounded" alt="Cinque Terre" width="125" height="100">
                            <div class="descr">
                            {{i.foodDescriptions}}<br>
                            </div>
                         </div>
                         <button id="{{i.foodName}}" onclick="addFood('{{i.foodName}}','{{m.id}}')" type="button" class="btn btn-success glyphicon glyphicon-ok"  style="text-align: right" name="{{i.id}}">Додати</button>
                          <label>{{m.categoryPrice}}грн</label>
                            <hr>
                         {%endif%}
                     {%endif%}
                {%endif%}
             {%endfor%}
         </div>
     {%endfor%}
   </div>
</div>
<!--<footer  class="container-fluid home_footer" style="bottom: 0" >-->
  <!--<h2 style="text-align: center">Смачного</h2>-->
<!--</footer>-->
{%endblock%}
